*{
    margin: 0;
    padding: 0;
}

home{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.forms-container{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
}

.title-login, .title-register{
    text-align: center;
    margin-bottom: 20px;
}

.form-login, .form-register{
    text-align: center;
    margin-bottom: 20px;
}

.input-login, .input-register{
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.btn-login, .btn-register{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color, 1s, ease
}

.btn-login:hover, .btn-register:hover{
    background-color: #0060c6;
}

.list-login, .list-home, .list-register{
    list-style: none;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.list-home li, .list-login li, .list-register li, .list-register a, .list-login a, .list-home a{
list-style: none;
}

.list-login li a, .list-register li a, .list-home li a{
    padding: 5px;
}