<%-include('../partials/head.ejs') %>
<div class="home">
<h1>Home Page</h1>
<div class="list-home">
    <ul class="list-login"><li>
        <a href="/login">Login</a></li>
    </ul>
    <ul class="list-register"><li>
        <a href="/register">Register</a></li>
    </ul>
</div>
</div>
<%-include('../partials/footer.ejs')%>